# 数据库连接 (SQLite 默认，生产改为 PostgreSQL)
DATABASE_URL="file:./prisma/dev.db"

# JWT 签名密钥 (生产环境请更换为随机字符串)
JWT_SECRET="wukong-travel-secret-key-2026"

# 服务端口
PORT=3721

# 高德地图 Key (前端使用，替换为你自己的)
# 申请地址: https://console.amap.com/
VITE_AMAP_KEY="10327c05bdf54014c547ada62f60e5c4"
VITE_AMAP_SECURITY_CODE="0283744a2111d4bd868d7aae333488c1"
